#wd-account-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 0px;
    margin-right: 50px;
  }
  
  #wd-account-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #wd-account-navigation li {
    margin-bottom: 40px;
  }
  
  #wd-account-navigation .nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(206, 40, 40);
    padding-left: 10px;
    border-left: 3px solid transparent;
  }
  
  #wd-account-navigation .nav-link:hover {
    color: black;
  }
  
  #wd-account-navigation .nav-link.active {
    color: black;
    border-left: 3px solid black;
  }
  
  #form-container {
    padding-left: 50px;
  }
  